@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: oklch(50.5% 0.213 27.518);
  --font-poppins: 'Poppins', sans-serif;
}

